.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 30px 0px;
}

.cardDetail {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: #ffffff;
}

.containerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
  padding: 15px 0px;
}

.containerLeft img {
  width: 40%;
}

.containerRight {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.containerRight h1 {
  font-size: 30px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 10px;
}

.containerRight h2 {
  font-size: 22px;
  box-sizing: border-box;
  font-weight: 400;
  padding: 0px;
  margin: 20px 0px;
}

.containerRight p {
  font-size: 16px;
  padding: 10px 0px;
  font-weight: 400;
  color: gray;
  padding: 0px;
  margin: 30px 0px;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
}

.buttonsContainer button {
  width: 120px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffffff;
  color: #006ce4;
  border: 2px solid #006ce4;
  border-radius: 3px;
}

.buttonsContainer button:hover {
  background-color: #006ce4;
  color: #ffffff;
  border: 2px solid #ffffff;
}

@media screen and (max-width: 800px) {
  .containerLeft img {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .containerLeft img {
    width: 100%;
  }

  .containerRight h1 {
    font-size: 24px;
  }
  
  .containerRight h2 {
    font-size: 19px;
  }
  
  .containerRight p {
    font-size: 15px;
  }
}
