.containerCard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
}

.cardBody {
  display: flex;
}

.cardBodyContainer {
  margin: 10px;
}

@media screen and (max-width: 750px) {
  .cardBody {
    display: flex;
    flex-direction: column;
  }
}
