.body {
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0px;
}

.containerButton {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.containerButton p{
    font-size: 16px;
    color: #006ce4;
    margin-top: 12px;
}
