.body {
  height: 130vh;
}

@media screen and (max-width: 992px) {
  .body {
    height: 160vh;
  }
}

@media screen and (max-width: 520px) {
    .body {
      height: 140vh;
    }
  }

  @media screen and (max-width: 400px) {
    .body {
      height: 130vh;
    }
  }
  
